/*font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*body-styles*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

/*influ-styles*/
.influ{
    margin-top: 100px;
  }
.influ-title{
    margin: 40px;
    font-size: 24px;
}
.influ-body{
    display: flex;
    justify-content: space-around;
}
.influ-blogs{
    width: 582px;
    height: 270px;
}
.influ-blogs img{
    width: 440px;
    height: 414px;
    margin-left: 130px;
}
h1{
    font-size: 50px;
    font-weight: 700;
}
h3{
    font-size: 30px;
}
.preebook-now{
    color: beige;
    background-color: 
    #E02C6D;
    height: 50px;
    width: 150px;
    border-radius: 15px;
    text-align: center;
    margin: 0px;
}
/*----------popular-styles-----------*/
.popular{
    margin-top: 250px;
  }
.popular-title{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 20px;
 width: 1047px;
 height: 1662px;
 margin-left: 50px;
}
.popular-body{
    background-color: #f7f0f0bd;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgb(187, 179, 179);
}

.popular-blog img{
    width: 300px;
    height: 256px;
}
.popular-blog-info .doller{
    font-size: 20px;
    color: black;
}
.fa-star{
    color: #FB8200;
}
span{
    padding: 10px;
    color: grey;
}
.popular-blog-info p{
    color: grey;
}
.see-more {
    font-size: 20px;
   margin-top: 400px;
   margin-right: 20px;
   text-align: right;
}
.see-more a{
    text-decoration: none;
    color: rgb(218, 23, 23);

}
/*product*/

.product-container{
    display: flex;
    margin: 50px;
}
.product-blogs{
    padding-left: 50px;
    height: 250px;
    width: 500px;
}
.text{
    color: grey;
}
.join-now{
  
    color: beige;
     background-color: 
     #E02C6D;
      height: 50px;
      width: 150px;
    text-align: center;
   margin: 0px;
  }


/*---------footer------------*/
.creat-footer{
    margin-top: 100px;
    background-color: #000033;
    
    font-size: .8em;
  }
  .footer-contant{
      color: rgba(255, 235, 205, 0.712);
      text-align: center;
      padding-top: 10px;
     
  }
  .footer-contant a{
      color: rgba(255, 235, 205, 0.727);
      
  }

